<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace Running</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
      <h1>Marketplace Running</h1>

      <nav>
        <a href="/">Productos</a>

        <% if (usuarioSesion) { %>

          <% if (usuarioSesion.nombre_rol === 'usuario') { %>
            <a href="/carrito">Carrito</a>
            <a href="/mis-pedidos">Mis pedidos</a>
            <a href="/mis-productos">Mis productos</a>
            <a href="/publicar-producto">Publicar producto</a>

          <% } else if (usuarioSesion.nombre_rol === 'administrador') { %>
            <a href="/verificaciones">Verificaciones</a>

          <% } else if (usuarioSesion.nombre_rol === 'analista') { %>
            <a href="/analitica">Analítica</a>
          <% } %>

          <span>Hola, <%= usuarioSesion.nickname %> (<%= usuarioSesion.nombre_rol %>)</span>
          <a href="/logout">Cerrar sesión</a>

        <% } else { %>
          <a href="/login">Login</a>
          <a href="/register">Registro</a>
        <% } %>

      </nav>
    </header>
    <main>